

* {
    border: none;

}

body {
    background-image: url('../img/gaming-2215601_1280.jpg');
    background-size: cover;
}

a {
    text-decoration: none;
    font-size: .9rem;
}

a:hover {
    color: blueviolet;
}

/* Conteiner Login */

.login-conteiner {
    width: 25vw;
    background-color: #e2e2e2;
    margin: 0 auto;
    padding: 20px 30px;
    margin-top: 20vh;
    border-radius: 5px;
    text-align: center;
}

form {
    margin-top: 10%;
    margin-bottom: 10%;
    display: block;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
    font-size: .8rem;
    margin-top: 10px;
    margin-bottom: 3px;
}

input {
    border-bottom: 2px solid #1e1c21;
    padding: 5px;
}

input:focus {
    border-bottom: 2px solid #650de9;
}

#forgot-pass {
    text-align: right;
    display: block;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    margin-top: 30px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: rgb(183, 122, 240);
    transition: 1s;
    cursor: pointer;
}

.social-conteiner {
    margin-bottom: 15px;

    
   
}

.social-conteiner i {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    cursor: pointer;
}

.social-conteiner i:hover {
    filter: opacity(40%);
    transition: 1s ; 
    cursor: pointer;
}

.fa-facebook-f {
    background-color: #3b5998;
    color: white;
}

.fa-linkedin {
    background-color: #0077b5;
    color: white;
}

.fa-google {
    background-color: white;
    
}

.fa-github {
    color: white;
    background-color: black;
}