@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
ul, li {
    list-style: none;
}
.fa-caret-down {
    margin-left: 5px;
}
header {
    background-color: #1e1c21;
    height: 80px;
}
#menu .links li:hover > .submenu {
    transition: 1s;
    display: block;
    position: absolute;
    background-color: #1e1c21;
}
.links li {
    width: 120px;
}
.submenu {
    width: 150px;
}

.submenu li {
    width: 100%;
}
.submenu li:hover {
    background-color: white;
}

#menu a:hover {
    color:#39B54A;
    padding: 5px;
    filter: opacity(80%);
}

nav > ul {
    display: flex;
    justify-content: space-between;
}


#menu ul ul {
    display: none;
}

.fa-bars {
    color: white; 
    font-size: 30px;
    display: none;
}

footer {
    background-color: #1e1c21;
    margin-top: 20px;
}
body {
    background-color: #e2e2e2
}

.conteiner-grid {
    width: 90vw;
}
.logo {
    height: 5vw;
}
.logo:hover {
    height: 90px;
    transition-duration: 1s;
}

.search_box {
    width: 30%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    background-color: white;
}

.search_box input[type="text"] {
    border: none;
    outline: none;
    padding: 0 5px;
    width: 75%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;

}

.search_box img {
    height: 100%;
    
}
.search_box img:hover {
    filter: opacity(50%);
    cursor: pointer;
    transition: 1s ; 
}

.login-icone {
    height: 40px;
    width: 40px;
}

.login-icone:hover {
    filter: opacity(60%);
    transition: 1s ;
}

#menu a, #menu li {
    color: white;
    transition-duration: 1s;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px   ;
}
.menu a:hover {
    color: #48e64d;
    transition: 1s ; 
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.links {
    display: flex;
    justify-content: space-between;
  }
.cabecalho a {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.banner {
    width: 100vw;
    height: 60vh;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.imagebanner {
    width: 70vw;
}
.joinus {
    height: 6vh;
    line-height: 6vh;
    width: 17vw;
    border-radius: 20px;
    font-size: 1rem;
    text-align: center;
    background-color: #39B54A;
    color: white;
    transition-duration: 1s;
    font-weight: bold;
    text-transform: uppercase;

}

.joinus:hover {
    background-color: #48e64d; 
    color: white;
    width: 16vw;
    transition: 1s ; 
    cursor: pointer;
}

.conteiner-banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.informacoes {
    height: 10vh;
    background-color: #1e1c21;
    display: flex;
    align-items: center;
}
.informacoes .conteiner-grid img:hover {
    filter: opacity(70%);
    transition: 1s ; 
    cursor: pointer;
}

.conteiner-informacoes {
    display: flex;
    justify-content: space-between;
}

.informacoes img {
    width: 18vw;
}

.conteiner-das-categorias {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.iconesdabarradecategorias {
    width: 14vw;
    height: 22vh;
    border-radius: 10px;
    border: 5px solid #000000;
}

.conteiner-das-categorias a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.2rem;

} 

.conteiner-icones-categoriass {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.conteiner-icones-categorias a {
     text-align: center
}

.conteiner-icones-categorias p {
    margin-top: 5px;
}

.conteiner-icones-categorias img:hover  {
    filter: opacity(70%);
    transition-duration: 1s;
}
.conteiner-icones-categorias p:hover  {
    filter: opacity(70%);
    transition-duration: 1s;
    color: blueviolet;
}

.conteiner-do-ecommerce {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.e-commerce-item {
    width: 14vw;
    height: 50vh;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
}

.e-commerce-item img {
    padding-top: 10px;
    width: 12vw;
    height: 25vh;   
}
.e-commerce-item p {
    font-size: 0.9rem;
}


.e-commerce-item a {
    text-transform: uppercase;
    text-decoration: none;
    border-top: 3px solid rgba(90, 89, 89, 0.3);
    color: white;
    width: 14vw;
    height: 4vh;
    text-align: center;
    background: #39B54A;
    border-radius:  0px 0px 5px 5px  ;
    font-weight: bold;
    margin-top: 5px;
    padding: 2px;
}


.e-commerce-item a:hover {
    filter: opacity(70%);
    font-size: 17px;
    transition: 1s;
}

.barraderodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    padding: 5px;
}

.barraderodape p {
    color: white;
  
}

.rodape {
    display: flex;
    justify-content: space-between;
}

.redes-sociais img {
    width: 40px;
    padding: 5px;
}

.redes-sociais img:hover {
    filter: opacity(50%);
    cursor: pointer;
    transition: 1s ; 
}

.logotipo-2 {
    height: 50px;
}

.conteudo-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links-conteudo-rodape {
    display: flex;
    justify-content: space-between;
}
.links-conteudo-rodape, .links-conteudo-rodape ul a, .links-conteudo-rodape ul li {
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
}

.links-conteudo-rodape ul a:hover{
    color:#48e64d;
    transition: 1s; 
}

.conteiner-links-rodape {
    margin: 15px;
}
.conteiner-links-rodape h3 {
    padding-bottom: 5px;
    font-size: 16px;
}

.newsletter-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.newsletter-conteiner h3 {
    color: white;
    font-size:16px;
    padding-right: 15px;
    margin-top: 20px;
}

.newsletter_box {
    width: 250px;
    height: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.newsletter_box #newslettericon:hover {
    filter: opacity(50%);
    cursor: pointer;
    transition: 1s ; 
}
.input-newsletter {
    outline: none;
    border: none;
    width: 75%;
    height: 100%;
}

#menu-bars {
    display: none;
}


@media screen and ( max-width: 1100px) {
    #menu a {
        font-size: 0.9rem;
    }

    .joinus {
         font-size: 0.9rem;
     
    }

}

@media screen and (max-width: 1000px) {
    #menu {
        display: none;
        position: absolute;
        display: flex;
        background-color: #1e1c21;
        justify-content: space-between;
        width: 80vw;
        top: 80px;
        transition: all 2s ease;
    }

    #menu a:hover {
        color:#39B54A;
    }

    #menu-bars {
        display: inline-block;
    }

    .e-commerce-item:last-child { 
        display: none;
     }
  
}


@media screen and (max-width: 800px) {
    #menu {
        display: none;
        position: absolute;
        display: block;
        background-color: #1e1c21;
        justify-content: center;
        width: 100vw;
        top: 80px;
        transition: all 2s ease;
    }

    #menu a:hover {
        color:#39B54A;
    }

    #menu-bars {
        display: inline-block;
    }

    .e-commerce-item:last-child { 
        display: none;
     }
  
}


