* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1e1c21;
    height: 80px;
}
body {
    background-color: #e2e2e2
}

.conteiner-grid {
    width: 1200px;
    margin: 0 auto;
}
.logo {
    height: 80px;
}
.logo:hover {
    height: 90px;
    transition-duration: 1s;
}

.links a {
    color: white;
    transition-duration: 1s;
}
.links a:hover {
    color: #48e64d;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.links {
    display: flex;
    justify-content: space-between;
  }
.cabecalho a {
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.banner {
    width: 100%;
    height: 528px;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
}
.imagebanner {
    width: 1000px;
}
.joinus {
    height: 66px;
    width: 246px;
    border-radius: 15px;
    font-size: 18px;
    align-items: center;
    background-color: #39B54A;
    color: white;
    font-size: 22px;
    transition-duration: 1s;
}

.joinus:hover {
    background-color: #48e64d; 
    color: white;
    height: 70px;
    width: 250px;
}

.conteiner-banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info {
    height: 80px;
    background-color: #1e1c21;
    display: flex;
    align-items: center;
}
.info .conteiner-grid img:hover {
    filter: opacity(70%);
}

.conteiner-info {
    display: flex;
    justify-content: space-between;
}

.info img {
    height: 60px;
}

.conteiner-categorias {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.iconesdabarradecategorias {
    width: 200px;
    height: 160px;
    border-radius: 15px;
    border: 5px solid #000000;
}

.conteiner-categorias a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

} 

.conteiner-icone {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.conteiner-icone a {
     text-align: center
}

.conteiner-icone img:hover  {
    filter: opacity(70%);
}

